@model GradeTrackerApp.Models.Course.CreateCourseViewModel

@{
    ViewBag.Title = "Add Course";
}

<h2>Course Info</h2>
<hr/>

@using (@Html.BeginForm("Create", "Course", FormMethod.Post))
{
<table>
    <tr>
        <td>
            @Html.Label("Course Name:")
        </td>
        <td>
            @Html.TextBoxFor(model => model.Name)
        </td>
        <td>
            @Html.ValidationMessageFor(model => model.Name, string.Empty, new {@class = "text-danger"})
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Course Number:")
        </td>
        <td>
            @Html.TextBoxFor(model => model.Number)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Department:")
        </td>
        <td>
            @Html.TextBoxFor(model => model.Department)
        </td>
    </tr>
    @*<tr>
        <td>
            @Html.Label("Instructor:")
        </td>
        <td>
            @Html.TextBoxFor(model => model.InstructorId)
        </td>
    </tr>*@
    <tr>
        <td>
            @Html.Label("Semester:")
        </td>
        <td>
            @Html.DropDownListFor(m => m.SemesterId, Model.Semesters)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Year:")
        </td>
        <td>
            @Html.TextBoxFor(model => model.Year)
        </td>
    </tr>
    @*<tr>
        <td>
            @Html.Label("Start Date:")
        </td>
        <td>
            @Html.EditorFor(model => model.StartDate, new { @class = "form-control datepicker", @id = "startdatepicker" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("End Date:")
        </td>
        <td>
            @Html.EditorFor(model => model.EndDate, new { @class = "form-control datepicker", @id = "enddatepicker" })
        </td>
    </tr>*@
    @*<tr>
        <td>
            @Html.Label("Start Time:")
        </td>
        <td>
            @Html.EditorFor(model => model.StartTime, new { @class = "form-control timepicker", @id = "starttimepicker" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("End Time:")
        </td>
        <td>
            @Html.EditorFor(model => model.EndTime, new { @class = "form-control timepicker", @id = "endtimepicker" })
        </td>
    </tr>*@

</table>

    <div style="padding-top: 15px">
        <input type="submit" value="Add Course" class="btn btn-default" />
        @*@Html.ActionLink("Add This Course", "Create", "Course", routeValues: null, htmlAttributes: new { title = "Add Course" })*@
    </div>
}