@model GradeTrackerApp.Models.Course.CourseViewModel

@{
    ViewBag.Title = "Course Details";
}

<style>

    #evaluationTable {
         width: 35%;
    }

    #evaluationTable th {
         font-size: larger; 
        padding-bottom: 5px
    }

    #evaluationTable td {
        padding-left: 10px
    }

    #details td {
        padding-bottom: 15px; 
        padding-left: 10px
    }

    #details th {
         font-size: larger;
    }

</style>

<h2>@Model.Name: @Model.Department-@Model.Number</h2>

<div id="details">

    <h3>Details</h3>

    <table>
        
        <tr>
            <th>@Html.LabelFor(model => model.Semester)</th>
            
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.Name)</td>
            
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.Year)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.Year)</td>
        </tr>
    </table>
</div>

<div id="grades">

    <h3>Grade Info</h3>

    @if (Model.Evaluations.Count > 0)
    {
        <table id="evaluationTable">
            <tr>
                <th>Type</th> <th> Current Grade</th>
            </tr>
            @foreach (var evaluation in Model.Evaluations)
            {

                <tr>
                    <td>
                        @Html.ActionLink($"{evaluation.Name}", "ViewEvaluation", "Evaluation", routeValues: new {evaluationId = evaluation.Id}, htmlAttributes: null)
                    </td>
                    <td>
                        @evaluation.CurrentPointsGrade
                    </td>
                </tr>
            }
        </table>
        <h4>Current Overall Grade: @Model.CurrentGrade</h4>
        <hr/>
        @Html.ActionLink("Add Another Evaluation Type", "Add", "Evaluation", routeValues: new { courseId = Model.Id }, htmlAttributes: null)
    }
    else
    {
        <p>There are no Evaluations associated with this course yet -- @Html.ActionLink("Add One!", "Add", "Evaluation", routeValues: new { courseId = Model.Id }, htmlAttributes: null)</p>
    }

</div>

<div id="miscinfo">

    <h3>Misc Info</h3>

    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.LastModified)
                @Model.LastModified.ToShortDateString() @Model.LastModified.ToShortTimeString()
                @*@Html.DisplayFor(model => $"{model.LastModified.ToShortDateString()} {model.LastModified.ToShortTimeString()}")*@
            </td>
        </tr>
    </table>
</div>



<div>
    @Html.ActionLink("Back To All Courses", "Index", "Course", routeValues: null, htmlAttributes: null)
</div>
