@model GradeTrackerApp.Models.Score.CreateOrEditScoreViewModel

@*@section Scripts {

    @Scripts.Render("~/bundles/jquery-ui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $(document).ready(function() {
            $('input[type=datetime]').datepicker({
                dateFormat: "m/d/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-0:+1"
            });

            $('#ui-datepicker-div').css(
                { 'background-color': ' white','font-size' : '20px' }
            );

    });
    </script>
}*@

    <h2>New Score Details</h2>

@using (@Html.BeginForm("CreateScore", "Score", FormMethod.Post))
{

    @Html.HiddenFor(model => model.EvaluationId, Model.EvaluationId)

    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.Name)
                <p style="font-size: smaller">Eg: "Test 1" or "Ch1 Quiz"</p>
            </td>
            <td>
                @Html.TextBoxFor(model => model.Name)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Date)
            </td>
            <td>
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datepicker", id = "earnedPicker", placeholder = "Date Earned", max = DateTime.Today.ToShortDateString()}})
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Date, string.Empty, new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.PointsPossible)
            </td>
            <td>
                @Html.TextBoxFor(model => model.PointsPossible)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.PointsEarned)
            </td>
            <td>
                @Html.TextBoxFor(model => model.PointsEarned)
            </td>
        </tr>

    </table>

    <div style="padding-top: 15px">
        <input type="submit" value="Add Score" class="btn btn-default" />
        @Html.ActionLink("Cancel", "ViewEvaluation", "Evaluation", routeValues: new { evaluationId = Model.EvaluationId }, htmlAttributes: new { Class = "btn btn-default" })
    </div>
}