@model GradeTrackerApp.Models.Score.ScoreViewModel

<style>

    table td {
        padding-bottom: 15px;
        padding-left: 10px
    }

    table th {
        font-size: larger;
    }
</style>

<h2>@Model.Name</h2>

<div id="details">

    <h3>Details</h3>
    <hr />

    <table>
        <tr>
            <th>@Html.LabelFor(model => model.Date)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.Date)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.PointsGrade)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.PointsGrade)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.PointsEarned)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.PointsEarned)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.PointsPossible)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.PointsPossible)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.CreatedOn)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.CreatedOn)</td>
        </tr>

        @if (Model.LastModified != null)
        {
            <tr>
                <th>@Html.LabelFor(model => model.LastModified)</th>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.LastModified)</td>
            </tr>
        }

        <tr>
            <th>
                @Html.ActionLink("Make Changes To This Score", "Update", "Score", routeValues: new { scoreId = Model.Id }, htmlAttributes: null)
            </th>
        </tr>
        <tr>
            <th>
                @Html.ActionLink("Back to Evaluation", "ViewEvaluation", "Evaluation", routeValues: new { evaluationId = Model.EvaluationId }, htmlAttributes: null)
            </th>
        </tr>
    </table>
</div>
