@model GradeTrackerApp.Models.Score.ScoreViewModel

<style>

    table td {
        padding-bottom: 15px;
        padding-left: 10px
    }

    table th {
        font-size: larger;
    }
</style>

<h1>@Model.Name</h1>


<div id="details">

    <h3>Details</h3>
    <hr />

    <table>
        <tr>
            <th>@Html.LabelFor(model => model.Date)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.DisplayDate)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.PointsGrade)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.PointsGrade)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.PointsEarned)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.PointsEarned)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.PointsPossible)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.PointsPossible)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.CreatedOn)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.CreatedOn)</td>
        </tr>

        @if (Model.LastModified != null)
        {
            <tr>
                <th>@Html.LabelFor(model => model.LastModified)</th>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.LastModified)</td>
            </tr>
        }
    </table>
    <hr />
</div>

<div id="options">

    <h3>Options</h3>

    <table>
        <tr>
            <th>
                @Html.ActionLink("Make Changes To This Score", "StartUpdate", "Score", routeValues: new { scoreId = Model.Id }, htmlAttributes: null)
            </th>
        </tr>
        <tr>
            <th class="delete-section">
                    <a class="delete-link" href='@Url.Action("DeleteScore", routeValues: new {scoreId = Model.Id})'>Delete</a>
                    <div class="btn btn-primary delete-confirm" style="display:none" data-delete-id="@Model.Id">Confirm Delete</div>
                @*@Html.ActionLink("Delete This Score", "DeleteScore", "Score", routeValues: new {scoreId = Model.Id}, htmlAttributes: null)*@
            </th>
        </tr>
        <tr>
            <th>
                @Html.ActionLink("Back to Evaluation", "ViewEvaluation", "Evaluation", routeValues: new { evaluationId = Model.EvaluationId }, htmlAttributes: null)
            </th>
        </tr>
    </table>
</div>

@section scripts{
    
@*<script type="text/javascript" src="~/Scripts/Scores/Helpers.js"></script>*@

    <script type="text/javascript">
        $(function() {
            $("a.delete-link").click(function() {
                var deleteLink = $(this);
                deleteLink.hide();
                var confirmButton = deleteLink.siblings(".delete-confirm");
                confirmButton.show();

                var cancelDelete = function() {
                    removeEvents();
                    showDeleteLink();
                };

                var deleteItem = function() {

                    window.location.href = '@Url.Action("DeleteScore", routeValues: new {scoreId = Model.Id})';

                };

                var removeEvents = function() {
                    confirmButton.off("click", deleteItem);
                    $(document).on("click", cancelDelete);
                    $(document).off("keypress", onKeyPress);
                };

                var showDeleteLink = function() {
                    confirmButton.hide();
                    deleteLink.show();
                };

                var onKeyPress = function(e) {
                    //Cancel if escape key pressed
                    if (e.which === 27) {
                        cancelDelete();
                    }
                };

                confirmButton.on("click", deleteItem);
                $(document).on("click", cancelDelete);
                $(document).on("keypress", onKeyPress);

                return false;
            });
        });
    </script>
    }
    
