@model GradeTrackerApp.Models.Evaluation.EvaluationViewModel

@{
    ViewBag.Title = "Update Evaluation";
}

<h2>Update Evaluation</h2>

@using (Html.BeginForm("UpdateEvaluation", "Evaluation", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CourseId)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Weight, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Weight, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Weight, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfScores, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfScores, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.NumberOfScores, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PointValuePerScore, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.PointValuePerScore, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.PointValuePerScore, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DropLowest, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.DropLowest)
                    @Html.ValidationMessageFor(model => model.DropLowest, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Course", "ViewCourse", "Course", routeValues: new {courseId = Model.CourseId}, htmlAttributes: null)
</div>
